.sidebar {
   background-color: #171717; 
   color: #b4b4b4;
   height: 100vh;
   width: 320px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   transition: transform 0.3s ease-in-out;
}

.mobile-close {
    display: none;
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
    z-index: 101;
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        max-width: 300px;
        height: 100%;
        z-index: 1000;
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0);
        box-shadow: 2px 0 10px rgba(0,0,0,0.5);
    }

    .mobile-close {
        display: block;
    }
}

.logo{
    height: 30px;
    width: 30px;
    border-radius: 30%;
}

.sidebar button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 14px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #333;
    color: #b4b4b4;
}

.sidebar button span {
    font-size: 20px;
}

.sidebar button:hover {
    background-color: white;
    color: #171717;
}

.sidebar button:hover i {
    color: #171717;
}

.sidebar i {
    color: #b4b4b4;
}

.mobile-close i {
    color: white;
}

.history {
    margin: 10px;
    padding: 10px;
    height: 100%;
}

.history li{
    list-style-type: none;
    position: relative;
    cursor: pointer;
    padding: 10px 32px 10px 12px;
    margin-bottom: 0.5rem;
    border-radius: 10px;
}

.history li:hover{
    background-color: #2a2a2a;
}

.fa-trash {
    opacity: 0;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.history li:hover .fa-trash {
    opacity: 1;
    color: white;
}

.fa-trash:hover {
    color: red !important;
}

.sign {
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 0.25px solid rgba(255,255,255,0.5) ;
}